.git
public/css/app.css
public/js/app.js
public/js/app.js.LICENSE.txt
public/mix-manifest.json
node_modules
vendor
.env
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
